<div class="mx-auto h-auto px-6 pb-3 text-primary sm:max-w-4xl md:max-w-4xl lg:max-w-6xl lg:px-12">
    <div class="flex flex-col">
        <div class="mb-12 flex-1 md:mb-0">
            <div class="inline-flex gap-2 font-open-sans text-xl font-bold">
                <div class="before:text-secondary before:content-['<'] after:text-secondary after:content-['/>']"> 
                    About Me </div>
            </div>
        </div>
        <div class="flex-1 space-y-6 md:space-y-0 lg:space-y-12">
            <div class="flex md:justify-end">
                <div class="space-y-6 md:basis-7/12 lg:flex-none lg:basis-1/2">
                    <h2 class="text-4xl text-gray-400">Beyond the Keyboard</h2>
                    <p class="text-xl leading-loose text-gray-300">
                      The narrative of my career is more than the hours spent in front of a screen; it's a chronicle of innovation and the intersection of technology with inventive design.
                    </p>
                </div>
            </div>
            <div class="flex">
                <div class="flex-1 basis-full">
                    <div class="flex flex-col-reverse items-center gap-12 md:flex-row lg:gap-16">
                        <div class="flex-none space-y-16 font-open-sans md:w-5/12">
                            <div class="space-y-4">
                                <span class="rounded-md bg-quaternary py-2 px-6 font-bold text-secondary"> From </span>
                                <div class="font-bold">Sofia, Bulgaria</div>
                            </div>
                            <div class="space-y-4">
                                <span class="rounded-md bg-quaternary py-2 px-6 font-bold text-secondary"> Coding </span>
                                <div class="font-bold"> Half a decade of experience </div>
                                <div class="text-tertiary"> Each project is a Rubik I'm eager to solve, aligning colors and code to craft seamless, engaging web experience </div>
                            </div>
                            <div class="space-y-4">
                                <span class="rounded-md bg-quaternary py-2 px-6 font-bold text-secondary"> Education </span>
                                <div class="font-bold"> American University in Bulgaria </div>
                                <div class="text-tertiary"> Double Major (B.A.) in Computer Science and Business Administration </div>
                            </div>
                        </div>
                        <div class="mt-8 flex-1 md:mt-0">
                            <div class="relative">
                                <img class="absolute inset-0" src="assets/Images/About.png" alt="Lyudmil Nikolov" />
                                <img src="assets/Images/bg.png" alt="Linear Bg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>