<div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col justify-center">
        <h1 class="text-4xl font-bold mb-4 text-secondary">
          Hi There! 
          <span class="wave" role="img" aria-labelledby="wave">
            👋🏻
          </span>
        </h1>
        <h1 class="text-4xl font-bold mb-4 text-primary">
          I'M
          <strong> LYUDMIL NIKOLOV</strong>
        </h1>
        <div class="typewriter-effect text-left text-secondary min-h-8">
          <h2>{{ typedText() }}</h2>
        </div>
      </div>
      <div>
        <img src="assets/Images/MePhoto.png" alt="home pic" class="img-fluid" style="max-height: 450px;">
      </div>
    </div>
  </div>
  